.Pokedex {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.Pokedex-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Pokedex-title {
  margin: 0;
}

@media (min-width: 400px) {
  .Pokedex-cards {
    flex-direction: row;
  }
}
